<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予定の追加</title>
</head>
<body>
    <h1>予定の追加</h1>
    <form id="add_form" action="{{ url_for('add_schedule') }}" method="post">
        <label for="schedulename">予定の名前:</label>
        <input type="text" id="schedulename" name="schedulename" required><br><br>

        <label for="date">日時:</label>
        <input type="datetime-local" id="date" name="date" required><br><br>

        <label for="groupnumber">グループの名前:</label>
        <select id="groupnumber" name="groupnumber" required>
            {% for group in groups %}
            <option value="{{ group['id'] }}">{{ group['groupname'] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="studentnumber">学籍番号:</label>
        <input type="text" id="studentnumber" name="studentnumber" required><br><br>

        <button type="submit">登録</button>
    </form>
</body>
</html>