.fc .fc-scrollgrid {
    border-width: 0 0 0 0; /* 外側の枠線消す */
    font-size: 20px;
    font-weight: normal;
  }
  .fc-theme-standard td, .fc-theme-standard th {
    height: 20px;/* 枠の高さ指定 */
    border: none;/* 枠のボーダー消す */
    padding: 0 5px 5px;
  }
  /*　今日の背景 */
  .fc .fc-daygrid-day.fc-day-today {
    background: none;
  }
  .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
    background: rgba(45, 227, 197, 0.3);
  }
  /* 日付を枠の高さいっぱいに */
  .fc .fc-daygrid-day-frame {
    height: 100%;
  }

  .fc .fc-cell-shaded, .fc .fc-day-disabled {
    background: none;
  }

  .fc {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5rem;
  }

  /* media queries */
  @media (max-width: 900px) {
    .fc {
        padding-left: 5%;
        padding-right: 5%;
    } 

    a.btn2 { 
      width: 100px;
      font-size: 10px;
      padding: 20px 40px;
      margin-left: 5rem;
    }
  }

  .des {
    overflow: hidden;
    width: 30%;
    margin: 2em auto;
    text-align: center;
  }
  .des select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .des select::-ms-expand {
      display: none;
  }
  .des {
    position: relative;
    border-radius: 2px;
    border: 2px solid skyblue;
    border-radius: 50px;
    background: #ffffff;
  }
  .des::before {
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid skyblue;
    pointer-events: none;
  }
  .des select {
    padding: 8px 38px 8px 8px;
    color: black;
  }

  button.btn {
    text-decoration: none;
    padding: 1rem 3rem;
    width: 150px;
    margin-left: 65%;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    border-radius: 100vh;
    transition: 0.5s;
  }
  button.btn:hover {
    color: #fff;
    background: #27acd9;
  }

  a.btn2 {
    text-decoration: none;
    width: 200px;
    margin-left: 60%;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    border-radius: 100vh;
    transition: 0.5s;
  }
  a.btn2:hover {
    color: #fff;
    background: #27acd9;
  }